[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
coverage = "*"
coveralls = "*"
responses = "*"
Sphinx = "*"
pipenv-setup = "*"

[packages]
backoff = "*"
requests = "*"
six = ">=1.9.0"
python-dateutil = "*"
pytz = "*"
